[tool.black]
line-length = 88
target-version = ["py311"]
skip-string-normalization = true

[tool.isort]
profile = "black"
line_length = 88
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
combine_as_imports = true
known_third_party = [
    "pytest",
    "dotenv",
    "psycopg2"
]
default_section = "THIRDPARTY"

[tool.pylint.MASTER]
disable = [
    "C0114", # missing-module-docstring
    "C0115", # missing-class-docstring
    "C0116", # missing-function-docstring
    "C0301", # line-too-long
    "R0903", # too-few-public-methods
    "R1705"  # unnecessary-else
]
max-line-length = 88
good-names = ["i", "j", "k", "ex", "Run", "_"]